# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/typescript/dist
/typescript/tmp

# dependencies
/typescript/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/typescript/.sass-cache
/typescript/connect.lock
/typescript/coverage/*
/typescript/libpeerconnection.log
npm-debug.log
testem.log
/typescript/typings

# e2e
/typescript/e2e/*.js
/typescript/e2e/*.map

#System Files
.DS_Store
Thumbs.db
