/* You can add global styles to this file, and also import other style files */
// App Theme
@import '@angular/material/core/theming/all-theme';

// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$es5-primary: mat-palette($mat-indigo);
$es5-accent:  mat-palette($mat-pink, A200, A100, A400);

$es5-theme: mat-light-theme($es5-primary, $es5-accent);

// Include all theme styles for the components.
@include angular-material-theme($es5-theme);

// Import the Roboto font from Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

* {
    font-family: 'Roboto', sans-serif;
}
